<section class="content-header">
    <h1>Home</h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!--------------------------
    | Your Page Content Here |
    -------------------------->
    <h2 class="text-center align-center">Welcome</h2>
</section>